#menu-button {
    position: relative;
    width: 55px;
    height: 50px;
    margin-top: -.4em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    touch-action: manipulation;
}

#menu-button span {
    display: block;
    position: absolute;
    height: 3px;
    width: 70%;
    background: white;
    border-radius: 2px;
    opacity: 1;
    left: .5em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu-button.open span {
    z-index: 70;
    background: black;
}

#menu-button span:nth-child(1) {
  top: 15px;
}

#menu-button span:nth-child(2), #menu-button span:nth-child(3) {
  top: 25px;
}

#menu-button span:nth-child(4) {
  top: 35px;
}

#menu-button.open span:nth-child(1) {
    top: 28px;
    width: 0%;
    left: 50%;
}

#menu-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-button.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.bar:nth-child(1) {
  background-color: #E74C3C;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3498DB;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: black;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes welcome-fade {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
}

.spinner:before {
    z-index: 100;
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    margin-top: -2.5em;
    margin-left: -2.5em;
    background: white;
    border-radius: 50%;
    border: .2em solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner .8s ease infinite;
}

.block-select {
    -webkit-appearance: none;
}

.block-select:before {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    content: "";
    position: absolute;
    top: -.2em;
    left: -.2em;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2;
}

.block-select:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -.2em;
    left: -.2em;
    height: .3rem;
    margin-top: .4em;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
}

.block-select:after {
    content: "";
    position: absolute;
    -webkit-appearance: none;
    top: -.2em;
    left: -.2em;
    width: 1.2rem;
    height: 1.2rem;
    background: white;
/*    background: rgba(255,255,255,.8);*/
    cursor: pointer;
}

@keyframes jiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Progress Bar */
.progress-bar {
    z-index: 1;
    position: absolute;
    height: 4px;
    top: 5.8em;
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
}
.progress-bar .indeterminate {
    background-color: goldenrod;
}
.progress-bar .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

.popup-disabled {
    z-index: 30;
/*    display: none;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    cursor: pointer;
    animation: fadein .15s;
}
/*
.popup-message {
    z-index: 31;
    position: fixed;
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 30em;
    max-height: 25em;
    overflow: hidden;
    margin: auto;
    padding: .5em;
    border-radius: 4px;
    background: white;
    padding-bottom: 0;
    animation: movingUp .15s;
    box-shadow: 0 0 50px rgb(100,100,100);
}

.ext-popup-message {
    max-height: 15em;
}

.popup-description-container {
    height: 10em;
    overflow: auto;
    box-shadow: inset 0 -10px 10px -10px white;
    -webkit-overflow-scrolling: touch;
}

.popup-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 -5px 5px -5px white;
    -webkit-overflow-scrolling: touch;
}

.popup-message h2 {
    text-align: left;
    padding-left: .7em;
}

.popup-message h3 {
    width: 90%;
    text-align: left;
    margin: 1em auto;
    margin-top: 1em;
    color: rgba(0,0,0,.52);
}

.popup-body {
    width: 100%;
    max-width: 100%;
    max-height: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup-ps {
    margin-left: 1.5em;
    color: #036228;
}

.close-popup-message {
    width: 7em;
    height: 2em;
    background: #036228;
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 2em;
    float: right;
    margin-right: 1em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.close-popup-message:last-child {
    background: rgb(150,150,150);
}

.close-popup-message:hover {
    filter: brightness(110%);
}

.popup-divider {
    width: 100%;
    height: 1px;
    background: black;
    margin: 0;
}
*/
