@font-face {
    font-family: 'San Francisco Display';
    src: url('fonts/SanFranciscoDisplay-Bold.eot');
    src: url('fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SanFranciscoDisplay-Bold.woff') format('woff'),
        url('fonts/SanFranciscoDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('fonts/SanFranciscoDisplay-Regular.eot');
    src: url('fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SanFranciscoDisplay-Regular.woff') format('woff'),
        url('fonts/SanFranciscoDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

ul {
    padding: 0;
}

h3, h4, h5, h6 {
    font-weight: 400;
}
