/*.logo {
    position: relative;
    height: 10em;
    width: 10em;
    border: 1px solid $header-color;
    margin: 1em auto;
    font-family: 'julius sans one';
    background: white;
    box-shadow: $bottom-box-shadow;

    .logo-letter {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        #top-f {
            background: $header-color;
            height: 3.1em;
            width: 6em;
            margin: .05em;
            margin-left: 2em;
            margin-top: 1.1em;
        }

        #bottom-f {
            background: $header-color;
            height: 2.6em;
            width: 3.25em;
            margin: .05em;
            margin-left: 2em;
        }
    }

    .bottom-text {
        background: $header-color;
        position: absolute;
        bottom: 0;
        height: 1.5em;
        width: 100%;
        font-size: 22px;
        line-height: 1.5em;
        text-align: center;
        color: white;
    }
}*/

.logo-container {
    height: 8em;
    width: 8em;
    margin: 0 auto;
}

.logo {
    height: 100%;
    width: auto;
    background: url("img/logo.svg") no-repeat center;
}
