.popup-window {
    z-index: 30;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 34em;
    max-height: 32em;
    background: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    animation: movingUp 0.15s;

    .popup-header {
        display: flex;
        justify-content: space-between;
        height: 6em;
        padding: 1em 1em 1em 2em;

        h3 {
            margin: 0.5em 0;
            font-size: 1.6em;
            color: rgba(0,0,0,0.65);
        }
    }

    .close-popup-container {
        display: flex;
        flex-direction: column;
        text-align: right;

        #close-popup-button {
            font-size: 2.5em;
            margin: 0;
            line-height: 0;
            cursor: pointer;
        }

        #popup-unit-count {
            margin-top: 4em;
            font-size: 1em;
            font-weight: bold;
        }
    }

    .popup-section {
        display: flex;
        padding: 1em 2em;

        .popup-section-title {
            width: 10em;
            font-weight: bold;
        }

        .popup-section-body {
            width: 100%;
            overflow: auto;
        }
    }

    .prereq-container {
        height: 15%;
        border-bottom: 1px solid rgba(0,0,0,0.12);

        .popup-section-title {
            color: #ad2929;
        }
    }

    .description-container {
        height: 10em;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }

    .popup-button {
        height: 0.5em;
        line-height: 0.5em;
        padding: 1em;
        color: white;
        border-radius: 4px;
        background: dodgerblue;
        cursor: pointer;
    }
}
