.welcome-container {
    position: fixed;
    z-index: 20;
    background: white;
    top: 0;
    padding-top: 5em;
    bottom: 20%;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo-container {
        height: 12em;
        width: 12em;
    }

    .logo {
        height: 12em;
        width: auto;
        animation: welcome-fade 2s;
    }

    h3 {
        font-family: avenir;
        font-weight: 400;
        color: #15522c;
        font-size: 2.5em;
        margin: 0.5em;
        animation: 2s ease 0s normal welcome-fade;
    }

    &.fade-white {
        .logo {
            filter: grayscale(100%) opacity(60%);
            transition: all .15s ease-in-out;
        }

        h3, h4, .button {
            opacity: 0;
            transition: all .15s ease-in-out;
        }
    }

    #get-started-button {
        font-size: 1.3em;
        height: 2em;
        line-height: 2em;
        width: 6em;
        margin: 0.5em auto;
        animation: delayed-fade 3s;
    }
}

